/*   p > h1 {    => الابن المباشر للبراجراف 
}
   */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(1, 44, 94);
}

h1 {
  text-align: center;
  font-size: 53px;
  color: #fff;
  padding-top: 19px;
  background-image: linear-gradient(to top, #55008000, #ffffff70);
}

.task {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 13px 20px;
  font-size: 19px;
  margin-top: 25px;
  border-bottom: 2px solid;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  color: #fff;
  margin: 1rem auto;
}
.finishClass {
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

.fa-star {
  opacity: 0.5;
  transition: 0.2s;
  font-size: 15px;
}

.fa-star:hover {
  color: rgba(241, 116, 0, 0.959);
  cursor: pointer;
  opacity: 1;
  font-size: 17px;
}

.fa-trash-can {
  opacity: 0.5;
  padding-right: 5px;
  transition: 0.2s;
  font-size: 15px;
}

.fa-trash-can:hover {
  opacity: 1;
  cursor: pointer;
  font-size: 16px;
}

.fa-face-angry {
  color: yellow;
}

.haa {
  color: #fff;
  margin-top: 5em;
  font-size: 25px;
  font-family: system-ui;
  text-align: center;
}

button {
  all: unset;
  cursor: pointer;
  padding: 1rem;
}

.fa-arrow-up-from-bracket {
  color: white;
  font-size: 19px;
  position: relative;
  top: 5px;
  margin-left: 5px;
}
.flexx {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.inputDiv {
  width: 20%;
}
input {
  font-family: system-ui;
  text-align: center;
  margin-top: 5px;
  padding: 1rem;
  max-width: 17rem;
  border-radius: 6px;
}

.tutucu {
  padding-bottom: 10px;
  width: 100%;
}

.orange {
  color: orange;
  opacity: 1;
}

.dNone {
  display: none;
}

.dBlock {
  display: block;
}

#heart {
  color: red;
}

.finish {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}

.icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .task {
    width: 70%;
  }
  input {
    width: 88%;
  }
  .inputDiv {
    width: 60%;
  }
}
@media only screen and (min-width: 750px) {
  .task {
    width: 50%;
  }
  input {
    width: 80%;
  }
  .inputDiv {
    width: 45%;
  }
}
@media only screen and (min-width: 800px) {
  .task {
    width: 30%;
  }
  input {
    width: 88%;
  }
  .inputDiv {
    width: 20%;
  }
}
